<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="apartments">
    <meta name="author" content="lukasz waclawek">
    <title>Create task</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
    <style>

        .center {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .centerBlock {
            margin: auto;
            width: 80%;
            padding: 10px;
        }
    </style>
</head>
<body id="page-top">
<div id="wrapper" sec:authorize="isAuthenticated()">
    <div th:replace="fragments/left-menu :: navigation"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Top Wrapper -->
            <div th:replace="fragments/top-bar :: navigation"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">Apartments</h1>
                <p class="mb-4">List of all of Your apartments</p>

                <h2>Create task</h2>

                <form sec:authorize="hasRole('OWNER')"  method="post" th:action="@{/owner/tasks/createTask}" th:object="${task}">

                    <div class="form-group">
                        <label for="apartmentId">Choose apartment </label>
                        <select name="apartmentId" id="apartmentId" th:field="*{apartmentId}">
                            <option th:each="apartment : ${apartments}" th:value="${apartment.id}"><span
                                    th:text="${apartment.name}"></span> <span th:text="${apartment.address}"></span>
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Subject </label><br>
                        <textarea id="description" name="description" rows="4" cols="50" value
                                  th:text="${task.description}"></textarea>
                    </div>
                    <input type="hidden" name="userId" id="userId" th:value="${name}">
                    <div style="text-align:center">
                        <input type="submit" class="btn btn-outline-primary" value="Save"/>
                    </div>
                </form>

                <form sec:authorize="hasRole('RENTIER')"  method="post" th:action="@{/tenant/tasks/createTask}" th:object="${task}">

                    <div class="form-group">
                        <label for="apartmentId">Choose apartment </label>
                        <select name="apartmentId" id="apartmentId2" th:field="*{apartmentId}">
                            <option th:each="apartment : ${apartments}" th:value="${apartment.id}"><span
                                    th:text="${apartment.name}"></span> <span th:text="${apartment.address}"></span>
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Subject </label><br>
                        <textarea id="description2" name="description" rows="4" cols="50" value
                                  th:text="${task.description}"></textarea>
                    </div>
                    <input type="hidden" name="userId" id="userId2" th:value="${name}">
                    <div style="text-align:center">
                        <input type="submit" class="btn btn-outline-primary" value="Save"/>
                    </div>
                </form>

                <form action="/tasks" method="get">
                    <div style="text-align:left">
                        <input type="submit" class="btn btn-outline-secondary" value="Back to task list"/>
                    </div>
                </form>
            </div>
        </div>
       </div>
</div>

<div sec:authorize="isAnonymous()">
    <h1>User not logged in.</h1>
    <a th:href="@{/}">Get back to home page to log in.</a>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{../vendor/jquery/jquery.min.js}"></script>
<script th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../js/sb-admin-2.min.js}"></script>

</body>
</html>
