<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="apartments">
    <meta name="author" content="lukasz waclawek">
    <title>Edit tenant</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="fragments/left-menu :: navigation"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Top Wrapper -->
            <div th:replace="fragments/top-bar :: navigation"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h2 class="h3 mb-1 text-gray-800">Tenant edit</h2>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">current data:</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/owner/rent/tenants/editTenant}" th:object="${tenant}">
                            <input type=hidden name="tenantUsername" id="tenantUsername" th:value="${tenant.username}">
                            <input type=hidden name="rentId" id="rentId" th:value="${rent.id}">
                            <div class="form-group">
                                <label for="firstname">Current first name : <b><span
                                        th:text="${tenant.firstname}"></span></b>
                                    new :</label>
                                <input type="text" name="firstname" id="firstname" th:field="*{firstname}">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Current last name : <b><span th:text="${tenant.lastname}"></span></b>
                                    new
                                    :</label>
                                <input type="text" name="lastname" id="lastname" th:field="*{lastname}">
                            </div>
                            <div class="form-group">
                                <label for="email">Current email : <b><span th:text="${tenant.email}"></span></b> new :</label>
                                <input type="text" name="email" id="email" th:field="*{email}">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Current telephone : <b><span
                                        th:text="${tenant.telephone}"></span></b>
                                    new :</label>
                                <input type="text" name="telephone" id="telephone" th:field="*{telephone}">
                            </div>
                            <div class="form-group">
                                <label for="password1">Change password :</label>
                                <input type="password" name="password1" id="password1">
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm password :</label>
                                <input type="password" name="password2" id="password2">
                            </div>
                            <button class="btn btn-warning btn-sm" type="submit">confirm edit</button>
                        </form>
                        <br>
                        <form class="d-inline" method="get" th:action="@{/owner/rent}">
                            <button class="btn btn-outline-secondary btn-sm" type="submit">back</button>
                        </form>
                        <form class="d-inline p-1" method="post" th:action="@{/owner/rent/tenants}">
                            <input hidden name="rentId" th:value="${rent.id}">
                            <button class="btn btn-outline-primary btn-sm" type="submit">tenants</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{../vendor/jquery/jquery.min.js}"></script>
<script th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../js/sb-admin-2.min.js}"></script>

</body>
</html>