<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns:c="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login page">
    <meta name="author" content="Lukasz Waclawek">
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
    <title>Login page</title>
</head>
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <div class="message mb-2" th:if="${message}" th:text="${message}" disabled></div>
                                <div class="error mb-2" th:if="${errorMessage}" th:text="${errorMessage}" disabled></div>
                                <form class="user" method="post" th:action="@{/authenticate}">
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control form-control-user" id="exampleInputUsername" placeholder="Enter email">
                                        <!--<span class="error" th:if="${#fields.hasErrors('*{username}')}" th:errors="*{username}"/>-->
                                        <small id="login2Help" class="text-unmuted">Example user email: adam@mail.com</small><br>
                                        <small id="logintenantHelp" class="text-unmuted">Example tenant email: kj@jones.com</small>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                        <!--<span class="error" th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}"/>-->
                                        <small id="passwordHelp" class="text-unmuted">Example user password: adam1</small><br>
                                        <small id="passwordTenantHelp" class="text-unmuted">Example tenant password: kate2</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/login/forgotten-password}">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/}">Back to main page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>
</html>