<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="payments">
    <meta name="author" content="lukasz waclawek">
    <title>Payments</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/left-menu :: navigation"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Top Wrapper -->
            <div th:replace="fragments/top-bar :: navigation"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div sec:authorize="isAuthenticated()">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800">Payments</h1>
                    <p class="mb-2">In this place, you can manage payments. Payment is associated with rent. Is there a
                        new electricity bill? This is the place to manage bills and payments for each rent.</p>

                    <div class="row">
                        <!-- Payments by rent card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Payments by rent
                                            </div>
                                            <form sec:authorize="hasRole('OWNER')" method="post" th:action="@{/owner/payment/byrent}">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <!--Select rent:-->
                                                        <select class="custom-select custom-select-sm form-control form-control-sm"
                                                                id="rentIdForPayment" name="rentIdForPayment">
                                                            <option th:each="rent : ${rents}" th:value="${rent.id}"
                                                                    th:text="${rent.name}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="submit"
                                                                class="btn btn-primary btn-icon-split btn-sm">
                                                        <span class="icon text-gray-100">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
<!--Form for tenant-->
                                            <form sec:authorize="hasRole('RENTIER')" method="post" th:action="@{/tenant/payment/byrent}">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="cols-sm-3">
                                                        <!--Select rent:-->
                                                        <select class="custom-select custom-select-sm form-control form-control-sm"
                                                                id="rentIdForPayment2" name="rentIdForPayment">
                                                            <option th:each="rent : ${rents}" th:value="${rent.id}"
                                                                    th:text="${rent.name}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="cols-sm-3 ml-2">
                                                        <button type="submit"
                                                                class="btn btn-primary btn-icon-split btn-sm">
                                                        <span class="icon text-gray-100">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-retweet fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- current balance total-->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Balance
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                    th:text="${balance}"/></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- current earnings annual-->
                        <div sec:authorize="hasRole('OWNER')" class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                EARNINGS (ANNUAL)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                    th:text="${earningsThisYear}"/></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- total deposits -->
                        <div sec:authorize="hasRole('OWNER')" class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                DEPOSITS TOTAL
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span
                                                    th:text="${depositsTotal}"/></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    &lt;!&ndash; Bar Chart &ndash;&gt;-->
<!--                    <div sec:authorize="hasRole('OWNER')" class="card shadow mb-4">-->
<!--                        <div class="card-header py-3">-->
<!--                            <h6 class="m-0 font-weight-bold text-primary">Payments and bills</h6>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="chart-bar">-->
<!--                                <canvas id="paymentsChart"></canvas>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; <hr>&ndash;&gt;-->
<!--                            &lt;!&ndash; Styling for the bar chart can be found in the <code>/js/demo/chart-bar-payments.js</code> file.&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->


                    <!-- new payment card -->
                    <div sec:authorize="hasRole('OWNER')" class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Create new Payment</h6>
                        </div>
                        <div class="card-body">
                            <!--errors-->
                            <form method="post" th:action="@{/owner/payment}" th:object="${payment}">
                                <div class="error" th:if="${#fields.hasErrors('*{rentId}')}"
                                     th:errors="*{rentId}"><br></div>
                                <div class="error" th:if="${#fields.hasErrors('*{amount}')}"
                                     th:errors="*{amount}">
                                    <br></div>
                                <div class="error" th:if="${#fields.hasErrors('*{description}')}"
                                     th:errors="*{description}"><br></div>

                                <div class="row justify-content-around">
                                    <div class="col-sm-auto col-md-auto">
                                        <label for="rentId">Rent:</label>
                                        <select class="custom-select custom-select-sm form-control form-control-sm"
                                                id="rentId" name="rentId" th:field="*{rentId}">
                                            <option th:each="rent : ${rents}" th:value="${rent.id}"
                                                    th:text="${rent.name}"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-auto col-md-auto">
                                        <label for="amount">Amount:</label>
                                        <input class="form-control form-control-sm" type="number" step=".01"
                                               name="amount" id="amount"
                                               th:field="*{amount}">
                                    </div>
                                    <div class="col-sm-auto col-md-auto">
                                        <label for="description">Description:</label>
                                        <input class="form-control form-control-sm" type="text"
                                               name="description" id="description"
                                               th:field="*{description}">
                                    </div>
                                    <div class="col-sm-auto col-md-auto">
                                        <label for="type">Type:</label>
                                        <select class="custom-select custom-select-sm form-control form-control-sm"
                                                id="type" name="type" th:field="*{paymentType}">
                                            <option th:each="PaymentType : ${T(pl.alpaka.rentalapp.domain.payment.PaymentType).values()}"
                                                    th:value="${PaymentType}"
                                                    th:field="*{paymentType}"
                                                    th:text="${PaymentType}"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-auto col-md-auto">
                                        <label for="paymentDeadline">Deadline:</label>
                                        <input class="form-control form-control-sm" type="date"
                                               name="paymentDeadline" id="paymentDeadline"
                                               th:field="*{paymentDeadline}">
                                    </div>
                                    <div class="col-sm align-self-end">
                                        <a class="btn btn-primary btn-icon-split">
                                            <button type="submit" id="add-button"
                                                    class="btn btn-primary btn-icon-split btn-sm">
                                            <span class="icon text-gray-100">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                                <span class="text text-gray-100">add</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- payments table card -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Past payments</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <th width="50ox" align="center">Rent id</th>
                                    <th width="300px" align="left">Description</th>
                                    <th width="100px" align="center">Payment type</th>
                                    <th width="50px" align="center">Paid</th>
                                    <th width="100px" align="left">Creation date</th>
                                    <th width="100px" align="left">Payment deadline</th>
                                    <th width="100px" align="left">Amount</th>
                                    <th sec:authorize="hasRole('OWNER')" width="150px" align="center">Actions</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="p : ${payments}">
                                        <td><span th:text="${p.rentId}"></span></td>
                                        <td><span th:text="${p.description}"></span></td>
                                        <td><span th:text="${p.paymentType}"></span></td>
                                        <td><span th:text="${p.paid} ? 'Yes' : 'No'"></span></td>
                                        <td><span th:text="${p.created}"></span></td>
                                        <td><span th:text="${p.paymentDeadline == null} ? '-' : ${p.paymentDeadline}"></span></td>
                                        <td align="center"><span th:text="${p.amount}"></span></td>
                                        <td sec:authorize="hasRole('OWNER')">
                                            <!--                                            <form sec:authorize="hasRole('OWNER')" class="d-inline p-1" method="post" th:action="@{/owner/payment/edit}">-->
                                            <!--                                                <input hidden name="paymentId" th:value="${p.id}">-->
                                            <!--                                                <button class="btn btn-outline-primary btn-sm" type="submit" disabled>-->
                                            <!--                                                    edit-->
                                            <!--                                                </button>-->
                                            <!--                                            </form>-->
                                            <form class="d-inline p-1" method="post"
                                                  th:action="@{/owner/payment/delete}">
                                                <input hidden name="paymentId" th:value="${p.id}">
                                                <button class="btn btn-outline-danger btn-sm" type="submit">
                                                    delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of page wrapper-->

<!--if not authorized-->
<div sec:authorize="isAnonymous()">
    <h1>Unauthorized access.</h1>
    <a th:href="@{/}">Go to main page.</a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!--Script for bar chart-->
<script src="js/demo/chart-bar-payments.js"></script>
</body>
</html>